@media screen and ( min-width: 600px ) {
	html, body {
	
	}
	body {
		
	}
	.main, .info, .masthead, .subscribe, .formbox {
		
	}
	.main, .info {
		
	}
	.main {
		
	}
		.info {
			
		}
			.masthead {

			}
			.rocket {
				
				img {
					
				}
			}
		.subscribe {
			
		}
			.formbox {
				
				
			}
				label, input, button {

				}
				label {
					display: block;
				}
				input, button {
					float: left;
				}
				input {
					width: 66%;
				}
				button {
					width: 33%;
				}
}