@media screen and ( max-width: 320px ) {
	.info {
		padding: 0;
	}
}
@media screen and ( min-width: 600px ) {
	.info {
		@include row
	}
		.masthead {
			order: 1;
			width: 50%;
		}
		.rocket {
			order: 2;
			overflow-x: hidden; 
			width: 50%;
			img {
				width: 75%;
				margin-left: $rem*2;
			}
		}
	.subscribe {
		background-size: 100%;
	}
}
@media screen and ( min-width: 768px ) {
	.info {
		width: 500px;
		position: relative;
		margin: 0 auto;
	}
	.masthead {
		margin-bottom: $rem * 2;
	}
		p {
			margin: $rem*3 0;
			@include textleft;
		}

	.subscribe {
		background-size: 100%;
	}
}
@media screen and ( min-width: 1024px ) {
	html, body {
		height: 100%;
	}
	.main {
		position: relative;
		margin: 0 auto;
		max-width: 1000px; width: 90%; height: 100%;
		@include justifyContent( space-between );
	}
		.info {
			
			@include justifyContent( flex-start );
			@include alignItems( flex-start );
			width: 100%;
			padding: 0;
		}
			.masthead {
				@include borderbox;
				margin-bottom: 0;
				order: 1;
				min-width: 460px; max-width: 500px; width: 55%;
				
			}
				h1 {
					font-size: $rem * 8;
				}
				p {
					margin-bottom: 0
				}
			.rocket {
				order: 2;
				width: 45%; height: 300px;
				overflow: visible;
				position: relative;
				img {
					width: 90%;
				}
			}
		.subscribe {
			background: none;
			width: 100%; height: 200px;
			padding: 0;
			position: relative;
		}
			.formbox {
				@include borderbox;
				background: fade-out($red, .4);
				max-width: 500px; width: 55%; height: 200px;
				padding: $rem*2 $rem*2 $rem*4;
				position: relative;
				transition: background-color .2s ease-in-out;
				&:hover, &:active, &:focus {
					background: fade-out($red, 0);
				}
			}
	.pixels {
		display: block;
		position: absolute;
		bottom: 0; left: 0;
		width: 100%; height: 400px;
		background-image: url('../assets/img/pixels.svg');
		background-position: left bottom;
		background-repeat: repeat-x;
	}
}
@media screen and ( min-width: 1400px ) {
				h1 {
					margin: $rem*2 0;
					transition: transform .2s ease-in-out;
					&:hover {
						transform: rotate(-15deg);
					}
				}
				p {
					font-size: $rem * 1.25;
				}
			.rocket {
				img {
					width: 100%;
				}
			}
		.subscribe {
			height: 400px;
		}
			.formbox {
				height: 400px;
			}
}