@import "variables";
@import "colors";
@import "typography";
@import "z-index";

// --------------------------------

html, body {
	min-height:100%;
}

body {
	position: relative;
	background:{
		color: $blue;
		image: url('/assets/img/pixels.svg');
		position: left bottom;
		repeat: repeat-x;
	}
}


.info {
	@include flexbox;
	@include justifyContent( space-between );
	@include row;
	@media (max-width: $screen-sm-max) {
		padding:$rem;
		@include justifyContent(center);
		@include column;
	}
	@media (min-width: $screen-md-min) {
		flex-flow:row nowrap;
	}

}

.main{
	
	@media screen and ( min-width: $screen-md-min ) {
		position: relative;
		margin: 0 auto;
		max-width: 1300px; 
		width: 90%; 
		height: 100%;
		@include justifyContent( space-between );
	}
}

.masthead {
	order: 2;

	@include textcenter;
	@media (max-width: $screen-xs-max) {
	}
	@media (min-width: $screen-md-min) {
		order: 1;
		width: 50%;
		margin-bottom: $rem * 2;
	}
}

.rocket {
	order: 1;
	@include textcenter;
	.animate{
		transform: rotate(-15deg);
		@media (min-width: $screen-md-min) {
			width:90%;
		}
		@media (min-width: $screen-lg-min) {
		}
	}
	@media (max-width: $screen-sm-max) {
		width:150px;
		margin:0 auto;
	}
	@media (min-width: $screen-md-min) {
		order:2;
		width:38%;
		margin-top:100px;
	}

	@media (min-width: $screen-lg-min) {
		margin-top:50px;
	}

	#rocket{
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}
}

.subscribe {
	.formbox {
		@include borderbox;
		background: rgba($red, 0.7);
		padding: $rem*2 $rem*2 $rem*4;
		position: relative;
		transition: background-color .2s ease-in-out;
		&:hover, &:active, &:focus {
			background: fade-out($red, 0);
		}
	}
	label, input, button {
		display: block;
	}
	label {
		margin-bottom: $rem * 2;
	}
	input, button {
		float: left;
		@include borderbox;
		border-radius: 0;
		border: none;
		height: 44px;
	}
	input {
		width: 66%;
		color: $black;
		@include borderbox;
		padding: $rem*.25 $rem;
		@media (max-width:320px) {
			width:100%;
		}

	}
	.button {
		-webkit-appearance: none;
		width: 33%;
		background-color: $blue;
		text-transform: uppercase;
		font-size: $rem * .75;
		color:white;
		@media (max-width:320px) {
			width:100%;
		}
	}
}