@import "variables";
@import "colors";
@import "typography";
@import "z-index";

// --------------------------------

html, body {
	
}
body {
	background-color: $blue;
}
.main, .info, .masthead, .subscribe, .formbox {
	
}
.main, .info {
	@include flexbox;
	@include column;
}
.main {
	
}
	.info {
		padding: $rem * 2;
	}
		.masthead {
			order: 2;
			@include textcenter;
		}
		.rocket {
			order: 1;
			@include textcenter;
			img {
				@include rotate(-15deg);
				width: 150px;
			}
		}
	.subscribe {
		background: $red;
		padding: $rem*2 $rem*2 $rem*8;
		background-image: url('../assets/img/redpixels.png');
		background-size: cover;
	}
		.formbox {
			
			
		}
			label, input, button {
				display: block;
			}
			label {
				margin-bottom: $rem * 2;
			}
			input, button {
				float: left;
				@include borderbox;
				border-radius: 0;
				border: none;
				height: 44px;
			}
			input {
				width: 66%;
			}
			button {
				-webkit-appearance: none;
				width: 33%;
				background-color: $blue;
				text-transform: uppercase;
				font-size: $rem * .75;
			}




@import "mediaqs";