.group:after {
  content: "";
  display: table;
  clear: both; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'panton', 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 80px;
  margin-bottom: 16px; }

h2, h3 {
  font-size: 24px; }

h2 {
  color: #efc913; }

h3 {
  color: #0e79bd;
  text-transform: uppercase;
  margin: 32px 0 0; }

p {
  margin: 64px 0;
  text-align: left; }

body {
  background-color: #073c5e; }

.main, .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.info {
  padding: 32px; }

.masthead {
  order: 2;
  text-align: center; }

.rocket {
  order: 1;
  text-align: center; }
  .rocket img {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 150px; }

.subscribe {
  background: #dd232b;
  padding: 32px 32px 128px;
  background-image: url("../assets/img/redpixels.png");
  background-size: cover; }

label, input, button {
  display: block; }

label {
  margin-bottom: 32px; }

input, button {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  height: 44px; }

input {
  width: 66%; }

button {
  -webkit-appearance: none;
  width: 33%;
  background-color: #073c5e;
  text-transform: uppercase;
  font-size: 12px; }

@media screen and (min-width: 600px) {
  label {
    display: block; }

  input, button {
    float: left; }

  input {
    width: 66%; }

  button {
    width: 33%; } }
